<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BMF_CSV_FILTER/src/readCSV_DelRedun_InterpMiss.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="readCSV_DelRedun_InterpMiss"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BMF_CSV_FILTER"/>
</launchConfiguration>
